NODE_ENV=

NEXT_PUBLIC_STRAPI_URL=
#NEXT_PUBLIC_STRAPI_URL=
NEXT_PUBLIC_BASE_URL=

NEXT_PUBLIC_GTAG_ID=

NEXT_PUBLIC_CONVERTKIT_KEY=
NEXT_PUBLIC_CONVERTKIT_FORM_ID=
NEXT_PUBLIC_CONVERTKIT_API_SECRET=

NEXT_PUBLIC_REVALIDATE_BLOG_SECRET=

NEXT_PUBLIC_CONTACT_EMAIL_ADDRESS=
NEXT_PUBLIC_CONTACT_EMAIL_PASSWORD=


