HOST=
PORT=
APP_KEYS=woRojYO7csVUqcLoO0ufZg==,whGg26rrkPbkm8W0W3lccg==,2XajEjNfPuAPuA8WUfcbSQ==,Qohtq02atiuXl4jf1LVxWA==
API_TOKEN_SALT=wcsTyw7VNDVuAlPy1vhfIw==
ADMIN_JWT_SECRET=QDmmqRQj0LoJy+6jVSgFEA==
TRANSFER_TOKEN_SALT=eAtPgRznnjrL76MgTrD3Ig==

DATABASE_FILENAME=
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=
JWT_SECRET=


CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
